<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8"><title>AUTOR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: Autor de la práctica</h2><p>
	<strong>Nombre: </strong> Adrián Alarcón Delgado </p>
	<strong>Localidad: </strong> Albacete </p>
	<img src="/images/foto.jpg" />
	</body>
</html>
