<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: Respuesta</h2><p>
	Respuesta: <%= respuesta %><p>
	<a href="/quizes/question">Intentelo de nuevo</a>
  </body>
</html>
